* {
	padding: 0;
	margin: 0;
	list-style: none;
}
.wrapper {
	position: relative;
	width: 500px;
	height: 750px;
	border: 1px solid black;
	margin: 10px auto 0;
	overflow: hidden;
}
.wrapper .pic_box ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 2500px;
}
.wrapper .pic_box ul li {
	width: 500px;
	float: left;
}
.wrapper .btn_box .btn {
	position: absolute;
	top: 350px;
	display: block;
	height: 50px;
	width: 30px;
	line-height: 50px;
	text-align: center;
	background-color: black;
	color: white;
	opacity: 0.2;
	cursor: pointer;
}
.wrapper .btn_box .btn_right {
	right: 10px;
}
.wrapper .btn_box .btn_left {
	left: 10px;
}
.wrapper:hover .btn {
	opacity: 0.7;
}
.wrapper .index_box {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 10px;
	width: 160px;
	height: 20px;
}
.wrapper .index_box ul li {
	display: inline-block;
	height: 20px;
	width: 20px;
	background-color: gray;
	border-radius: 50%;
	float: left;
	margin: 0 10px;
	opacity: 0.5;
}
.wrapper .index_box ul .active {
	background-color: black;
	opacity: 0.7;
}

